{{>layout/header}}
  <div class="container-login">
      <form method="post" action="/memo/login">
          <h2>로그인</h2>
          <p>
              <input id="id" class="form-control" type="text" placeholder="Id"/>
          </p>
          <p>
              <input id="password" class="form-control" type="password" placeholder="Password"/>
          </p>
          <button type="submit" class="btn btn-primary btn-block">확인</button>
      </form>
  </div>
{{>layout/footer}}