{{>layout/header}}
<div class="container">
    <form method="put" action="/memo/login">
        <p>
            <input type="text" class="form-control" name="userId" placeholder="Id"/>
        </p>
        <p>
            <input type="text" class="form-control" name="userPassword" placeholder="Password"/>
        </p>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit" class="btn btn-primary btn-block">확인</button>
    </form>
</div>
{{>layout/footer}}